@model LanchesWebApp2.Models.Lanche

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Deletar item</h3>
<div>
    <h4>Lanche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Nome) *@
            @Html.DisplayName("Nome")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Descricao) *@
            @Html.DisplayName("Descrição")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Preco) *@
            @Html.DisplayName("Preço")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.LancheIngredientes) *@
            @Html.DisplayName("Ingredientes")
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", ViewBag.IngredienteNames)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LancheId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
