@model LanchesWebApp2.Models.Lanche

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Lanche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Nome) *@
            @Html.DisplayName("Nome")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Descricao) *@
            @Html.DisplayName("Descrição")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Preco) *@
            @Html.DisplayName("Preço")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.IngredienteIds) *@
            @Html.DisplayName("Ingredientes")
        </dt>
        <dd class = "col-sm-10">
            @string.Join(", ", ViewBag.IngredienteNames)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LancheId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
