@model LanchesWebApp2.Models.Ingrediente

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Deletar item</h3>
<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Nome)*@
            @Html.DisplayName("Nome")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Descricao) *@
            @Html.DisplayName("Descrição")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Quantidade)*@
            @Html.DisplayName("Quantidade")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.PrecoUni)*@
            @Html.DisplayName("Preço Unitário")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoUni)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IngredienteId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
