@model LanchesWebApp2.Models.Ingrediente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Nome) *@
            @Html.DisplayName("Nome")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Descricao) *@
            @Html.DisplayName("Descrição")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Quantidade) *@
            @Html.DisplayName("Quantidade")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.PrecoUni)*@
            @Html.DisplayName("Preço Unitário")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoUni)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IngredienteId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
