@model IEnumerable<LanchesWebApp2.Models.Ingrediente>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredientes</h1>

<p>
    <a asp-action="Create">Registrar novo ingrediente?</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.Nome) *@
                @Html.DisplayName("Nome")
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Descricao)*@
                @Html.DisplayName("Descrição")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Quantidade) *@
                @Html.DisplayName("Quantidade")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrecoUni) *@
                @Html.DisplayName("Preço Unitário")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUni)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IngredienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IngredienteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IngredienteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
